<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Step 1 - Adding a section in configSections in web.config -->
  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!-- Step 2 - Add secureAppSettings section under configuration -->
  <secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfBJTm11Ea0uG7KDdM6ApcgQAAAACAAAAAAAQZgAAAAEAACAAAADideh7bOboztU3JIUP9iDGPjMB3krGDm4G0MIRPDcxYgAAAAAOgAAAAAIAACAAAAC7oWQ8tOARX95zp2dQiXIUomw9iXIHni9Z5DeArvNuk7AAAADE1VWKhn1L8CYBqsKlck4Aq4yOLtxmUlsxrbd9hYJrN5koNLkCbQAryNQPjKrdqwNikb56BJ43ifk+4xIwF0+PXF+FJtnWa5/XOPsMsY8zE0Btrh7atmKkp+T6ouGw0XMImQOO67pKCDLtIRf9qhVeVDnfj85/7AVBX3/KEBlafLiOkdcYURG96zu72IeDvn9JHsoOTmQNSacP1KT1dElF+1PkHveBpXIAkrv+GL0p8EAAAACtS4N3Q4U2gC4dgdaPJr6Cxk3cZcR5rsN18j7Erb/alhiihKfdbfek69lpBoEa6YYUHncYieYgUk3q+iKmGECB</CipherValue>
      </CipherData>
    </EncryptedData>
  </secureAppSettings>
  <appSettings>
    <add key="UserName" value="chien67" />
    <!--<add key="Password" value="123456" />-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<!--ProjectGuid: 4989E2C6-68D2-4E0E-A55A-62FDE128AD2B-->